<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Booking Program</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>

  <body>
    <h1>Booking Program</h1>
    
    <h2>Booked Rooms</h2>

    <label for="cars">Choose a Room:</label>
    
    <!-- get unique rooms by iterating over the data UwU -->
    <%
      bookings = JSON.parse(bookings);
      const rooms = [...new Set(bookings.map(booking => booking.room))]; 
    %>


    <div class="select-editable">
      <select id="room_select" onchange="this.nextElementSibling.value=this.value">
        <option value=""></option>

        <% for(let i in rooms){ %>
          
          <% if (i == 0) { %>
          <option value="<%= rooms[i] %>" selected><%= rooms[i] %></option>
          <% } else { %>
            <option value="<%= rooms[i] %>"><%= rooms[i] %></option>
            <% } %>
  
        <% }; %>

      </select>
      <input type="text" oninput="this.previousElementSibling.options[0].value=this.value; this.previousElementSibling.options[0].innerHTML=this.value" onchange="this.previousElementSibling.selectedIndex=0" value="" />
    </div>


  
    <table id="bookings-table">
      <thead>
        <tr>
          <th >Std.<br></th>
          <th ><b></b>
            <center><b>Mo</b></center>
          </th>
          <th ><b></b>
            <center><b>Di</b></center>
          </th>
          <th ><b></b>
            <center><b>Mi</b></center>
          </th>
          <th ><b></b>
            <center><b>Do</b></center>
          </th>
          <th ><b></b>
            <center><b>Fr</b></center>
          </th>
          <th ><b></b>
            <center><b>Sa</b></center>
          </th>
          <th ><b></b>
            <center><b>So</b></center>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>2</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>3</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>4</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>5</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>6</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>7</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>8</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>


    <div id="booking_window" style="display: none;">
      <div>
        <h2>Book Room</h2>
        <p>Tag: <input id="modal-day" type="text" disabled></p>
        <p>Stunde: <input id="modal-hour" type="text" disabled></p>
        <p>Lehrer: <input id="modal-teach" type="text"></p>
        <p>Fach: <input id="modal-name" type="text"></p>

        <button onclick="saveBooking();$('#booking_window').hide();">Save</button>
        <button onclick="$('#booking_window').hide();">Cancel</button>
      </div>
    </div>
    <script src="/js/booking.js"></script>

    <input placeholder="Key" type="text" id="mythic_key">

    <script>
      $("#mythic_key").keypress(function(event) {
        if (event.keyCode === 13) {
      
          $.ajax({
            type: "POST",
            url: `/${$("#mythic_key").val()}`,
            data: { "data":$("#mythic_key").val() },
            success: function(response) {
              alert("Database Reset Started!")
              $("#mythic_key").val("")
              window.location.reload();
            },
            error : function(response){
              $("#mythic_key").val("")
            }
          });
        }
      });
    </script>
  </body>

</html>